body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}
.Main-container
{
  background-image: url("../myResume/Image/background.png");
  background-color: #cccccc;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Container-inside{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  transform: translate(-50%, -50%);
  top:45%;
  left:50%;
  z-index: 1;
  width: 90%;
  height: auto;
  padding: 20px;
  text-align: center;
}
.Container-inside img{
  position: static;
  width: 225px;
  height: 225px;
  border-radius: 40%;
}
.Container-inside h3{
  color:white;
}
.Container-inside p{
  color:wheat;

}
.SocialMedia{
  position: relative;
}
.SocialMedia .fa{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  color: white;
  margin-left: 10px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;  
}
.SocialMedia .fa-3x{
  font-size: 2em;
}
.SocialMedia .fa-3x:hover{
  font-size: 3em;
}
.SocialMedia .fa-envelope:hover{
  color: #B23121;
}

.SocialMedia .fa-facebook-square:hover{
  color:blue;
}

.SocialMedia .fa-instagram:hover{
  color:#8a3ab9;
}
.SocialMedia .fa-twitter-square:hover{
  color:#1DA1F2;
}
.SocialMedia .fa-linkedin-square:hover{
  color:#1DA1F2;
}
.SocialMedia .fa-youtube-square:hover{
  color:#FF0000;
}

.EDUCATION{
  font-family: "proxima nova";
  font-weight: 100;
  font-size: 20px;
  color: white;
  text-align: center;
  border: 2px solid #31A6FF;
  border-radius: 30px;
  padding: 10px 80px;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  text-decoration: none;
}
.EDUCATION:hover{
  background-color: #31A6FF;
}

.SKILL{
  font-family: "proxima nova";
  font-weight: 100;
  font-size: 20px;
  color: white;
  text-align: center;
  border: 2px solid #31A6FF;
  border-radius: 30px;
  padding: 10px 110px;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  text-decoration: none;
}
.SKILL:hover{
  background-color: #31A6FF;
}
.PROJECTS{
  font-family: "proxima nova";
  font-weight: 100;
  font-size: 20px;
  color: white;
  text-align: center;
  border: 2px solid #31A6FF;
  border-radius: 30px;
  padding: 10px 90px;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  text-decoration: none;
}
.PROJECTS:hover{
  background-color: #31A6FF;
}
.HIRE-ME{
  font-family: "proxima nova";
  font-weight: 100;
  font-size: 20px;
  color: white;
  text-align: center;
  border: 2px solid #31A6FF;
  border-radius: 30px;
  padding: 10px 100px;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  text-decoration: none;
}
.HIRE-ME:hover{
  background-color: #31A6FF;
}
